header{
    background-color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffc300;
}

h1{
    padding-top: 5%;
    font-style: OCR A Std, monospace;
}
h2{
    background-color: #001d3d;
}
h3{
    padding-top: 5%;
    padding-bottom: 3%;
}

nav{
    background-color: black;
    color: #ffc300;
    box-shadow: 5px 5px 10px #003566;
    
    color:#003566;
}
.bodyjaune{
    background-color: black;
    color:#003566;
}

.form-check{
    margin-bottom: 2%;
}
.pad{
    margin-bottom: 2%;
}
footer{
    background-color: black;
    color:#003566;
}
:visited{
    color:#ffc300;
     
}
:link{
    color: #ffc300;
}
img{
    height: 0.5%;
    margin: 2%;
    padding: 1%;

}


form{
    margin-top:  10%;
    border: solid 5px #ffc300;
    background-color: #001d3d;
    border-radius: 3%;
    color: #ffc300;
    
    
}
bouton submit
.sub{
    padding-left: 40%;
    padding-right: 40%;
}
